<h1>Listing todolists</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Content</th>
      <th>Priority</th>
      <th>Time</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% current_user.todolists.each do |todolist| %>
      <tr>
        <td><%= todolist.content %></td>
        <td><%= todolist.priority %></td>
	<td><%= todolist.todotime.strftime("%Y-%m-%d") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Todolist', new_todolist_path %>
<br>
<%= link_to 'view your todo on calendar', 'calendar/index' %>
