<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @todolist.content %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @todolist.priority %>
</p>

<p>
  <strong>Todotime:</strong>
  <%= @todolist.todotime %>
</p>

<%= link_to 'Edit', edit_todolist_path(@todolist) %> |
<%= link_to 'Back', todolists_path %>
